.navBack{
  transition: top 0.6s;
  
  @apply
  w-full
  h-[6.25rem] 
  flex justify-between items-center flex-wrap
  pr-[11.25rem]
  fixed
  z-50
  bg-beige
  
}



.menuList{
  @apply
  xl:flex xl:justify-between xl:list-none xl:gap-[3.125rem]
  flex h-full
  
}

.menuItem{
  @apply
  font-pop
  text-title3-bold
  xl:inline-block
  block
}